# Qt intermediate files
*.o
*.obj
Makefile*
moc_*
ui_*
qrc_*
.qmake.stash
build_*/

.qtc_clangd/
build_log.txt
moc_predefs.h
*.autosave

# Project specific
ModbusTCPAssistant
*.user
*.user.*
*.pro.user*
*.qbs.user*

# OS files
.DS_Store
Thumbs.db

# Automatically added by Assistant
build/
180
build.log
system_check.log
compile_commands.json
documents/
/third_party/libmodbus/
/third_party/libmodbus/
/third_party/libmodbus-3.1.11/
/third_party/libmodbus-aarch64/
/third_party/libmodbus-build/
/third_party/libmodbus*/

# Added from Qt template by Assistant
*.LOG
*.csv
*.log
*.pro.user
*_qml.cpp
.pro.user
.vscode/
/third_party/*.tar.gz
624
ModbusTCPAssistant.pro.user
archive/
build_error*.txt
build_error_*.txt
build_output.txt
config.ini
docs/doxygen/html/
docs/source_txt/
monitor_logs/
patch.txt
qmlcache_loader.cpp
res_qmlcache.qrc
