# Qt intermediate files
*.o
*.obj
Makefile*
moc_*
ui_*
qrc_*
.qmake.stash
build_*/

.qtc_clangd/
build_log.txt
moc_predefs.h
*.autosave

# Project specific
ModbusTCPAssistant
*.user
*.user.*
*.pro.user*
*.qbs.user*

# OS files
.DS_Store
Thumbs.db

# Automatically added by Assistant
build/
180
build.log
system_check.log
compile_commands.json
documents/
